/* General styles */
:root {
  --primary-color: #313131;
  --secundary-color: #8f8ea7;
  --gray-color: #acacac;
  --bg-color: #f8f8f8;
  --white-color: #ffffff;
  --auxiliar-color: #2d9cdb;
  --template1-text: #284a7c;
  --template1-btn: #6094e2;
  --template1-lightbg: #f2f7ff;
  --template1-deg: 0deg, rgba(29, 53, 88, 1) 0%, rgba(40, 74, 124, 1) 100%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color); }

h1 {
  font-weight: bold;
  font-size: 12rem; }

h2 {
  font-weight: bold;
  font-size: 4.8rem; }

h3 {
  font-weight: bold;
  font-size: 3.2rem; }

p {
  font-weight: normal;
  font-size: 2rem; }

small {
  font-weight: normal;
  font-size: 1.4rem; }

a {
  color: inherit;
  text-decoration: none; }

a.link-unstyled {
  color: inherit; }

a.link-unstyled:hover {
  color: inherit;
  text-decoration: none; }

/* Template 1 styles */
.cover {
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-image: url("https://taiocchiwebmaster.altervista.org/public/headerx/125091.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 930px;
  padding-left: 8%;
  padding-right: 8%; }

.cover__info {
  display: flex;
  justify-content: space-between; }

.cover__content {
  width: 100%; }

.cover__title {
  margin-bottom: 100px; }

.cover__buttons {
  margin-bottom: 60px; }

.date__container {
  display: flex; }

.date__item {
  margin-left: 50px; }

.countdown {
  text-align: right;
  display: flex;
  justify-content: flex-end; }

.countdown div {
  margin-left: 30px; }

.template1__btn {
  font-size: 3.2rem;
  color: var(--white-color);
  background-color: transparent;
  border: 3px solid var(--white-color);
  border-radius: 18px;
  width: 215px;
  padding: 13px;
  cursor: pointer;
  margin-right: 30px; }

.template1__btn:focus {
  outline-style: none; }

.template1__btn:hover {
  background-color: var(--primary-color); }

.main {
  padding: 8%; }

.title {
  text-align: center;
  color: var(--template1-text);
  margin-bottom: 5rem;
  margin-top: 5rem; }

.about {
  margin: 50px; }

.about__info {
  display: flex;
  align-items: center;
  margin: auto 8%; }

.about__info img {
  max-height: 320px; }

.about__info p {
  text-align: center;
  padding-left: 15rem; }

.talk {
  display: grid;
  grid-template-columns: 15% 15% 20% 50%;
  margin-bottom: 1.5rem; }

.speakers {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 15px;
  justify-content: center; }

.speaker__card {
  width: 280px;
  height: 350px;
  position: relative;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25); }

.speaker__overlay {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  position: absolute;
  padding: 20px;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%; }

.speaker__image {
  object-fit: cover; }

.speaker__image-container,
.speaker__image {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.speaker__title {
  margin-bottom: 15px;
  color: var(--template1-btn); }

.speaker__twitter {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-left: auto;
  background-image: url(static/images/c589cc4cda8a11bf6133709b1deee1d3.png); }

.register {
  text-align: center;
  padding: 1rem;
  background: #1d3558;
  background: linear-gradient(var(--template1-deg)); }

.register .title {
  color: var(--white-color); }

.form__btn {
  color: var(--white-color);
  background-color: var(--template1-btn); }

.schedule {
  margin: auto 8%; }

.asociates {
  padding: 1px 50px 50px 50px;
  margin-top: 100px;
  background-color: var(--template1-lightbg); }

.asociates__container {
  display: flex;
  justify-content: center; }

.asociate {
  text-align: center;
  margin: 10px; }

.asociate__logo {
  max-height: 50px;
  max-width: 50px; }

.cover__logo {
  max-height: 100px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: bold;
  font-size: 12rem; }

h2 {
  font-weight: bold;
  font-size: 4.8rem; }

h3 {
  font-weight: bold;
  font-size: 3.2rem; }

p {
  font-weight: normal;
  font-size: 2rem; }

small {
  font-weight: normal;
  font-size: 1.4rem; }

a {
  color: inherit;
  text-decoration: none; }

a.link-unstyled {
  color: inherit; }

a.link-unstyled:hover {
  color: inherit;
  text-decoration: none; }

.hero {
  margin-top: 50px;
  width: 100%;
  position: relative; }
  .hero--img {
    width: 100%;
    object-fit: contain; }
  .hero--element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20%;
    background: #8f8ea780;
    -webkit-clip-path: polygon(22% 50%, 0 0, 0 100%);
    clip-path: polygon(22% 50%, 0 0, 0 100%); }

.home_container {
  width: 90%;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }
  .home_container--title {
    margin-top: 40px;
    margin-bottom: 40px; }
  .home_container--cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: space-between; }
    @media (max-width: 768px) {
      .home_container--cards {
        justify-content: center; } }

.admin_container {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr; }

.admin_menu {
  background-color: #F4F4F4;
  height: calc(100vh - 70px);
  text-align: left;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25); }
  .admin_menu--item {
    padding: 20px;
    margin-left: 20px;
    color: #313131;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    cursor: pointer; }
    .admin_menu--item:hover {
      color: #2D9CDB; }

.signup2 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh; }

.signup2__left {
  grid-column: 1;
  background: linear-gradient(180deg, rgba(0, 3, 16, 0.9) 20.83%, #0B3A80 100%); }

form {
  display: flex;
  margin: 25% 100px;
  flex-direction: column; }
  form input {
    background: none;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid #FFFFFF;
    padding: 30px 0; }
  form ::placeholder {
    color: #FFFFFF;
    padding-left: 60px; }

.signup2-btn {
  width: 100px;
  height: 60px;
  background-color: rgba(196, 196, 196, 0.39);
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  color: #FFFFFF; }

.signup2__right {
  grid-column: 2;
  background-color: #103B82;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.button-fb, .button-google {
  width: 200px;
  height: 80px;
  color: #FFFFFF;
  background-color: #2E41ED;
  border: none;
  margin: 0 auto;
  border-radius: 15px; }

.button-google {
  background-color: #AF3D2D; }

.signup {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.nLGZcys8jiIlL40BrmsOPwHaEN&pid=Api");
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .signup a {
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 40%; }

.negro2 {
  background: rgba(0, 0, 0, 0.5);
  height: 100%; }

.signup__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 200px;
  justify-content: center;
  align-items: center; }
  .signup__container label span {
    font-size: 30px;
    color: #FFFFFF; }
  .signup__container input {
    background: none;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid #FFFFFF;
    width: 400px; }
  .signup__container ::placeholder {
    color: #FFFFFF; }
  .signup__container-more {
    color: #FFFFFF;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; }
  .signup__container button {
    width: 300px;
    height: 60px;
    background-color: #2D9CDB;
    margin: 50px auto;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    opacity: 1;
    font-size: 2rem; }

.italic {
  font-style: italic; }

.icon {
  width: 50px;
  height: 50px;
  margin-left: 20px; }

@media screen and (max-width: 480px) {
  .signup {
    height: 100vh; }
  .signup__container {
    padding-top: 130px; }
    .signup__container input {
      width: 300px; }
    .signup__container button {
      width: 200px;
      height: 50px; }
    .signup__container-more {
      width: auto;
      display: contents; }
      .signup__container-more p input {
        width: 20px; } }

.login {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.nLGZcys8jiIlL40BrmsOPwHaEN&pid=Api");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .login a {
    color: white;
    display: flex;
    margin-left: 40%;
    text-decoration: underline; }

.negro {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh; }

.login__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 200px;
  justify-content: center;
  align-items: center; }
  .login__container label span {
    font-size: 30px;
    color: #FFFFFF; }
  .login__container input {
    background: none;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid #FFFFFF;
    width: 400px;
    color: #FFFFFF;
    font-size: 1.8rem; }
  .login__container ::placeholder {
    color: #FFFFFF; }
  .login__container-more {
    color: #FFFFFF;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    width: 400px; }
    .login__container-more input {
      width: 20px;
      height: 20px; }
  .login__container button {
    width: 300px;
    height: 60px;
    background-color: #2D9CDB;
    margin: 50px auto;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    opacity: 1;
    font-size: 2rem; }

.italic {
  font-style: italic; }

@media screen and (max-width: 480px) {
  .login__container {
    padding-top: 130px; }
    .login__container input {
      width: 300px; }
    .login__container button {
      width: 200px;
      height: 50px; }
    .login__container-more {
      width: auto;
      display: contents; }
      .login__container-more p input {
        width: 20px; } }

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #363636;
  color: white;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  .header--img {
    margin-left: 10px;
    height: 30px; }
  .header--search {
    width: 200px;
    height: 25px;
    border-radius: 20px;
    padding-left: 8px;
    border: none;
    outline: 0; }
    @media (max-width: 768px) {
      .header--search {
        display: none; } }
  .header--nav {
    display: flex; }
    .header--nav-link {
      display: inline-block;
      font-size: 1.6rem;
      margin: 0 15px; }

footer {
  height: 20px;
  width: 100%;
  background: #363636;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  footer p {
    margin-right: 30px;
    font-size: 1.5rem; }

.event_card {
  height: 280px;
  background-color: white;
  border-radius: 8px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
  color: #2E384D; }
  .event_card--description {
    padding: 10px; }
  .event_card--img {
    width: 100%;
    height: 180px; }
  .event_card--title {
    font-size: 2rem;
    font-weight: 900; }
  .event_card--text {
    font-size: 1.6rem;
    margin-top: 6px;
    font-weight: 500; }

