.second__main-details {
  display: grid;
  grid-template: repeat(1, 46px) / repeat(5, 10arem);
  align-items: center;
  justify-content: right;
  text-align: left;
  grid-gap: 20px;
  border: 1px solid red;
  @mixin lg {
    grid-template: repeat(1, 46px) / repeat(5, 8rem);
  }
}

.check {
  display: flex;
  width: fit-content;
  margin-left: -23rem;

  & p {
    font-size: 1.6rem;
    margin-left: -2rem;
  }

  & input {
    margin-right: 6rem;
  }
}

.content-name {
  margin-left: -23rem;
  width: fit-content;
  font-size: 1.6rem;
}

.content-email {
  margin-left: -210px;
  width: fit-content;
  font-size: 16px;
}

.content-event {
  margin-left: -12rem;
  font-size: 1.6rem;
  width: fit-content;
}

.icon-details {
  height: 2rem;
  width: 2rem;

  &-pencil {
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
  }
}
