.second__main-details {
  display: grid;
  grid-template: repeat(1, 46px) / repeat(4, 6rem);
  align-items: center;
  justify-content: right;
  text-align: left;
  grid-gap: 20px;
}

.content__name {
  margin-left: -28rem;
  width: fit-content;
}

.content__email {
  margin-left: -19.6rem;
  width: fit-content;
}

.content__event {
  margin-left: -12rem;
  width: fit-content;
}

.icon-details {
  height: 2rem;
  width: 2rem;
  color: #ff1744;
  margin-left: 1rem;
  cursor: pointer;
}
