.analitics {
  width: 100%;

  &_title{
    border-bottom: 2px solid $auxiliar-color2;
  }

  &_display {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
    justify-content: space-between;
  }

  &_titles {
    color: $primary-color;
    margin-bottom: 20px;
  }

  &__chart{
    text-align: left;
    margin-bottom: 40px;

    &-title{
      margin-bottom: 20px;
    }
  }
}

