.events {
  &__form {
    width: 600px;
    display: grid;
    grid-template-columns: 75% 25%;
    .marginbtm{margin-bottom: -20px;}
    p {
      font-size: 1.6rem;
    }
  }

  &__upload {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;

    &-input {
      display: none;
    }
  }

  &__logos {
    margin-top: 50px;

    &-image {
      height: 60px;
    }
  }

  &__save-area {
    margin-top: 50px;
    text-align: center;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid $gray-color;
  }

  &_organization{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $bg-color;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $secondary-color;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-open{
      margin-bottom: 0px;
    }

    &-header{
      display: flex;
      align-items: center;
    }

    &-title {
      margin-left: 10px;
      letter-spacing: 0.283px;
      font-weight: 700;
    }

    &-button{
      margin-right: 20px;
      font-size: 32px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: $bg-color;
    }
  }

  &_container_logo {
    width: 50px;
    height: 50px;
    background-color: $gray-color;
    border-radius: 50%;
    text-align: center;
  }

  &_logo {
    width: 40px;
    height: 40px;
  }
}
