.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(54, 54, 54);
  color: white;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &--img {
    margin-left: 10px;
    height: 30px;
  }

  &--search {
    width: 200px;
    height: 25px;
    border-radius: 20px;
    padding-left: 8px;
    border: none;
    outline: 0;

    @include md {
      display: none;
    }
  }

  &--nav {
    display: flex;
    align-items: center;
    position: relative;

    &-link {
      display: flex;
      align-items: center;
      margin: 0 15px;
    }
  }

  &__user {
    &-menu {
      box-sizing: content-box;
      position: absolute;
      display: none;
      top: 40px;
      right: 0px;
      width: 120px;
      padding: 10px;
      color: $primary-color;
      background-color: $bg-color;
      @include shadow;

      &.active {
        display: inline;
      }

      &-icon {
        font-size: 24px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 4px;

        &:hover {
          background-color: $auxiliar-color2;
          @include shadow;
        }
      }
    }

    &-link {
      display: flex;
      padding: 4px 0;
      margin: 10px 0;
      transition: color 300ms ease-in-out;

      &:hover {
        color: $auxiliar-color2;
      }

      &-icon {
        margin-right: 5px;
      }
    }
  }
}
