.modal__button{
    height: 30px;
    width: 160px;
    border-radius: 5px;
    border: none;
    background-color: #2d9cdb;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 1.4rem;
    transition: 0.4s ease all;
    margin-right: 10px;
}

.modal__button-add{
    height: 30px;
    width: 160px;
    border-radius: 5px;
    border: none;
    background-color: #2d9cdb;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 1.4rem;
    transition: 0.4s ease all;
    margin-left: 65%;
}

.options__modal{
    display: flex;

    button{
        align-self: end;
        width: 70px;
        height: 20px;
    }   
}