
.modal__button-add{
    text-align: left;
    margin-top: 30px;

}

.options__modal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;

    &-name{
        margin-right: 20px;
    }

}