.organization-event {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: $bg-color;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  &:not(:first-of-type) {
    padding-top: 0px;
  }

  &__status {
    top: 5px;
    right: 40px;
    padding: 1px 9px;
    position: absolute;
    cursor: pointer;
    background-color: #ffa05d;
    border: solid #c6641e;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    &--published {
      top: 5px;
      right: 40px;
      padding: 1px 9px;
      position: absolute;
      cursor: pointer;
      background-color: #74e599;
      border: solid #4c845e;
      border-radius: 50px;
      font-weight: bold;
      text-align: center;
      font-size: 14px;
    }
  }

  &__setup {
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 24px;
    color: #ff1744;
  }

  &__message {
    color: $primary-color;
    font-size: 1.6rem;
  }

  &__container {
    width: 100%;
  }

  &__detail {
    position: absolute;
    top: 0;
    left: 20px;
    margin-top: 10px;
  }

  &__text {
    color: $white-color;
    font-size: 1.4rem;
    margin-bottom: 4px;
  }

  &__figure {
    cursor: pointer;
    width: 220px;
    height: 70px;
    background-color: #333333;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 100%;
      content: "";
      border-bottom: 70px solid transparent;
      border-left: 60px solid #333333;
    }
  }
}
