.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup--container-details {
  font-size: 1.8rem;
  color: #313131;
  background-color: #f4f4f4;
  width: 50%;
  height: 50%;
  box-shadow: 5px 5px 5px 0 #20212447;
  padding: 20px;
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  border-radius: 5px;

  & p {
    font-size: 16px;
  }
}

.popup--details-form {
  float: left;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;

  & > input {
    width: 40%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #acacac;
    outline: none;
    line-height: 15px;
    padding: 5px;
  }
}

.popup--input ~ .popup--input-focus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}

.popup--input:focus ~ .popup--input-focus {
  width: 40%;
  transition: 0.4s;
}

.popup--details-select {
  width: 30%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #acacac;
}

.button-popup {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: #c4c4c4;
  color: white;
  margin-right: 0;
}

.container--details {
  display: flex;
  border-bottom: 1px solid #acacac;
  align-items: center;
  justify-content: space-between;
}

.container--details > img {
  border-radius: 5rem;
  height: 25px;
  margin-left: 1rem;
}

.container--details > p {
  margin-left: 25px;
}

.icon-close-outline {
  margin-left: 330px;
  color: #acacac;
}

.icon-close-outline:hover {
  color: black;
}

.section-close {
  display: flex;
  justify-content: space-between;
}

.button--popup-close {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: #2d9cdb;
  color: white;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease all;
}

.button--popup-close:hover {
  background-color: white;
  color: #2d9cdb;
  border: 1px solid #2d9cdb;
}

.newOrganizator {
  height: 50px;
  width: 50%;
  background-color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px 0 #20212447;
  border: 1px solid #20212447;
  position: relative;
}

.newOrganizator > a {
  color: #20212447;
  padding-left: 10px;
}

.icon-user-plus {
  color: #20212447;
}

.newOrganizator > a:hover,
.icon-user-plus:hover {
  color: #c4c4c4;
}

.overlay-second {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup--container-add {
  font-size: 1.8rem;
  color: #313131;
  background-color: #f4f4f4;
  width: 60%;
  height: 55%;
  box-shadow: 5px 5px 5px 0 #20212447;
  padding: 20px;
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  transition: 0.3s ease all;
  transform: scale(0.7);
}
