.main--container {
  margin-top: 50px;
  display: flex;
  height: 100vh;

  &-list {
    width: 80%;
    margin-left: 35px;
    // padding-top: 10px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.main--container-buttons > button {
  height: 30px;
  width: 130px;
  border-radius: 5px;
  border: none;
  background-color: #2d9cdb;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
  transition: 0.4s ease all;

  &:hover {
    background-color: white;
    color: #2d9cdb;
    border: 1px solid #2d9cdb;
  }

  &:focus {
    border: none;
  }
}

.icon-add-outline {
  margin-right: 6px;
  // height: 20px;
  // width: 20px;
}

.main--input-search {
  border: none;
  border-bottom: 1px solid #2d9cdb;
  color: #2d9cdb;
  outline: none;
  padding: 5px;
}

.icon-search {
  font-size: 1.6rem;
  color: #2d9cdb;
}

.second--main {
  background-color: #f8f8f8;
  border: 1px solid #acacac;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;

  &-table {
    display: grid;
    grid-template: repeat(1, 40px) / repeat(5, 180px);
    align-items: center;
    justify-content: right;
    // text-align: left;
    grid-gap: 20px;
    color: #313131;
    border: 1px solid red;

    & p {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &-content {
    border: 1px solid #acacac;
    background-color: white;
    font-size: 1.2rem;
  }

  &-details {
    display: grid;
    grid-template: repeat(1, 40px) / repeat(5, 180px);
    align-items: center;
    justify-content: right;
    text-align: left;
    grid-gap: 20px;
  }
}

.item--iconConfig {
  border: 1px solid red;
}

.icon-ajustes {
  height: 25px;
  width: 25px;
  margin-left: 80px;
}

.icon-details {
  height: 20px;
  width: 20px;

  &-pencil {
    height: 20px;
    width: 20px;
    margin-left: 70px;
  }
}

.show--details {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &div > button {
    border: none;
  }
}

.select {
  height: 30px;
  width: 50px;
}

.input-page-value {
  width: 20px;
  border: none;
}

small {
  font-size: 1.2rem;
  font-style: italic;
}
