.configuration{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.configuration__general{
    grid-column-start: 1;
    padding: 0px 2px;
    margin: 5px;
}

.configuration__lecturer{
    grid-column-start: 2;
    padding: 0px 2px;
    margin: 5px;
}

.configuration__agenda{
    grid-column-start: 3;
    padding: 0px 2px;
    margin: 5px;
}

.configuration__associates{
    grid-column-start: 4;
    padding: 0px 2px;
    margin: 5px;
}

@media screen and(max-width: 720px) {
    .configuration{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: auto;
}
.configuration__general{
    grid-column-start: 1;
    grid-row-start: 1;
}
.configuration__lecturer{
    grid-column-start: 1;
    grid-row-start: 2;
}

.configuration__associates{
    grid-column-start: 2;
    grid-row-start: 2;
}
.configuration__agenda{
    grid-column-start: 2;
    grid-row-start: 1;
}

}