.event{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    padding-top: 50px;
}

.left-container{
    background-color: $template1-light;
    grid-template-columns: 2;
    box-shadow:0px 3px 3px 0px $secondary-color;
    height: 75%;
    ul{
        text-align: center;
        li{
            list-style: none;
            font-size: 18px;
            border-bottom: 1px solid $secondary-color;
            justify-content: center;
            align-items:  center;
            height: 50px;
            padding-top: 15px;
        }
    } 

}

.main-container{
    grid-template-columns: 1;

    &_main{
        background-color: $template1-light;
        margin: 20px 125px 0px 125px;
        border-radius: 5px;
        figure {
            padding-top: 10px;
            img{
                width: 80%;
                display: flex;
                justify-content: center;
                align-self: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border-radius: 10px;
            }
        }
        
        button{
            background-color: $auxiliar-color2;
            color: $white-color;
            height: 30px;
            width: 120px;
            border-radius: 5px;
            border: none;
            position: relative;
            top: -40px;
            left: 750px;
        }
        p{
            font-size: 16px;
            margin-left: 30px;
            margin-top: 10px;
        }
        input{
            width: 90%;
            margin: 0px 40px;
            height: 40px;
            padding-left: 30px;
            color: black;
        }
        .input-message{
            height: 300px;
            justify-content: flex-start;
        }
    }
    .logo-image{
        width: 150px;
        height: 150px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .social-media{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}

.outside{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    p{
        font-size: 18px;
    }
    button{
        background-color: $auxiliar-color2;
        color: $white-color;
        height: 30px;
        width: 120px;
        border-radius: 5px;
        border: none;
        position: relative;
        top: 10px;
        left: 160px;
    }
}

@media screen and(max-width: 480px){
    // .event{
    //     display: flex;
    // }
    // .main-container_main{
    //     margin: 20px 10px 0px 10px;
    // }
    // .left-container {
    //     display: none;
    // }
}
