.login {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.nLGZcys8jiIlL40BrmsOPwHaEN&pid=Api");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  a {
    color: $white-color;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}

.negro{
    background: rgba(0,0,0, .5);  
    height: 100%;  
}

.login__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
  label {
    margin-bottom: 30px;
    span {
      font-size: 30px;
      color: $white-color;
    }
    :focus {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  input {
    background: none;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid $white-color;
    width: 400px;
    color: $white-color;
    font-size: 1.8rem;
    padding: 10px;
    padding-left: 50px;
  }
  ::placeholder {
    color: $white-color;
    padding-left: 0px;
  }
  &-more {
    color: $white-color;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    width: 400px;
    input {
      width: 20px;
    }
  }
  button {
    width: 300px;
    height: 60px;
    background-color: $auxiliar-color2;
    margin: 50px auto;
    border-radius: 14px;
    border: none;
    color: $white-color;
    opacity: 1;
    font-size: 2rem;
    cursor: pointer;
  }
}

.italic {
  font-style: italic;
}

@media screen and(max-width: 480px) {
  .login__container {
    padding-top: 130px;
    input {
      width: 300px;
    }
    button {
      width: 200px;
      height: 50px;
    }
    &-more {
      width: auto;
      display: contents;
      p input {
        width: 20px;
      }
    }
  }
}
