@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
      @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
      @content;
  }
}

@mixin animationIn {
  animation-duration: 1.5s;
  animation-name: slidein;

  @keyframes slidein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}